**/__pycache__/
Project\ 0/degrees/large/
Project\ 0/degrees/small/
Project\ 0/tictactoe/requirements.txt
Project\ 0/tictactoe/OpenSans-Regular.ttf
Project\ 1/minesweeper/requirements.txt
Project\ 1/minesweeper/assets/